<! -- sidebar.html -->
<header class="profilepic" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://gulup.github.io/public/img/logo.jpg" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<nav id="sub-nav">
    	<a class="github" href="https://github.com/pexcn" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  	</nav>
	<nav id="sub-nav">
    	<a class="github" href="https://github.com/pexcn" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
  	</nav>
</div>
<! -- sidebar.html end -->
